<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Upload</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
<input type="file" name="file_up" required><br>
<input type="checkbox" name="keep">Keep original filename?<br>
<input type="checkbox" name="expire">Set expiration date/time?<br>
<input type="date" name="expire_date" value="{{ default_date }}">
<input type="time" name="expire_time" value="{{ default_time }}"><br>
<input type="password" name="secret" placeholder="Secret" required>
<input type="submit" value="Upload" class="btn btn-primary">
<script>
var expire = document.getElementsByName('expire')[0];
var expDateField = document.getElementsByName('expire_date')[0];
var expTimeField = document.getElementsByName('expire_time')[0];
expDateField.disabled = true;
expTimeField.disabled = true;
expDateField.required = false;
expDateField.required = false;
expire.addEventListener('click', function(event) {
	expDateField.disabled = !expDateField.disabled;
	expTimeField.disabled = !expTimeField.disabled;
	expDateField.required = !expDateField.required;
	expTimeField.required = !expTimeField.required;
})
</script>
</form>
</body>
</html>