{% extends "base.html" %}
{% block title %}Delete {{ filename }}{% endblock %}
{% block content %}
<!-- TODO: Enable details URL when ready -->
<form action="/delete/{{ filename }}" method="post" enctype="multipart/form-data">
File <a href="{{ url_root }}/{{ prefix }}{{ filename }}">{{ filename }}</a><!--  <a href="{{ url_root }}/details/{{ filename }}">(details)</a> --> will be deleted. This action cannot be undone. Type in your secret key to confirm:<br>
<div class="mb-3">
<input class="form-control" type="password" id="secret" name="secret" required>
</div>
<button class="btn btn-danger" type="submit">Delete</button>
</form>
{% endblock %}
