{% extends "base.html" %}
{% block title %}Delete confirmation{% endblock %}
{% block content %}
<h4>Delete confirmation</h4>
<p>You are about to delete following file(s):</p>
<ul>
    {% for file in files %}
    <li><a href="{{ request.url_root }}{{ config['FILE_URL_PREFIX'] }}{{ file.filename }}">{{ file.filename }}</a></li>
    {% endfor %}
</ul>
<form method="post" action="{{ request.url }}">
    <button type="submit" class="btn btn-danger"><i class="bi bi-trash me-2"></i>Delete</button>
</form>
{% endblock %}