{% extends "base.html" %}
{% block title %}Edit {{ file.filename }}{% endblock %}
{% block content %}
<h4>Editing file <strong>{{ file.filename }}</strong></h4>
<p class="text-muted">{{ file.original_filename }}, {{ file.size | filesizeformat }}, uploaded at {{ file.upload_date | datetime }}</p>
<p>Checksum: <code class="small me-2">{{ file.checksum }}</code><a href="#" class="btn btn-outline-primary btn-sm text-decoration-none"><i class="bi bi-arrow-clockwise"></i> Recalculate</a></p>
<form method="post" action="{{ url_for('main.edit_file', filename=file.filename, next=next_view) }}">
    <div class="d-grid row-gap-3">
        {% include 'includes/_expiration_fields.html' %}
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" rows="5" id="description" name="description">{{ file.description }}</textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-save me-2"></i>Save</button>
    <a href="{{ url_for('main.delete_files', filename_list=file.filename, next=url_for('main.files')) }}" class="btn btn-danger"><i class="bi bi-trash me-2"></i>Delete file</a>
</form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='expire-date-tools.js') }}"></script>
{% endblock %}