{% extends "base.html" %}
{% block title %}
{% if status == 'details' %}
{{ data.filename }}
{% else %}
{{ status|capitalize }}
{% endif %}
{% endblock %}
{% block content %}
{% if data and status != 'error' %}
<h4>
{% if status == 'details' %}
File details for <strong>{{ data.filename }}</strong>
{% else %}
Response data
{% endif %}
</h4>
<div class="card">
    <div class="table-responsive">
        <table class="table table-striped table-hover mb-0">
            <thead class="table-light"><tr><th scope="col" style="width: 20%">Key</th><th scope="col">Value</th></tr></thead>
            <tbody>
                {% for key, value in data.items() %}
                <tr>
                    <td class="fw-bold">{{ key|replace('_', ' ')|title }}</td>
                    <td class="text-break">
                        {% if not value %}
                        <span class="text-muted fst-italic">(none)</span>
                        {% elif key == 'description' %}
                        <span style="white-space: pre-wrap;">{{ value|urlize }}</span>
                        {% elif key in ['upload_date', 'expire_date'] %}
                        {{ value | datetime }}
                        {% elif key == 'file_size' %}
                        {{ value | filesizeformat }}
                        {% else %}
                        {{ value | urlize }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}