{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h4>{{ title }}</h4>
<p>{{ message|safe }}</p>
<form method="post" action="{{ action_url }}">
    <div class="mb-3">
        <label for="secret" class="form-label">Secret Key</label>
        <input type="password" class="form-control" id="secret" name="secret" required autofocus>
    </div>
    <button type="submit" class="btn {{ button_class|default('btn-primary') }}">{{ button_text|default('Submit')  }}</button>
</form>
{% endblock %}