{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<h4>Search</h4>
<div class="row">
    <div class="col-md-4">
        <form action="{{ url_for('main.search') }}" method="post">
            <div class="mb-3">
                <label for="query-filename" class="form-label">Filename</label>
                <input type="text" class="form-control" id="query-filename" name="query-filename" required>
            </div>
            <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>Submit</button>
        </form>
    </div>
</div>
{% endblock %}